body{
  margin-top: 56px;
}

.divSticky{
  height: 500px;
  padding-bottom: 15px;
  width: 100%;
  margin: auto;
  overflow: auto;
  background-color: wheat;
}

.divStickyLogOut{
  margin-top: 250px;
  margin-bottom: 150px;
  text-align: center;
}